* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#storyLine {
    font-family:  monospace;
    font-size: xx-large;
    color: aliceblue;
    white-space: pre-wrap;  /*keeps line breaks */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90vw;
    max-height: 90vh;
    text-align: center;
    color: aliceblue;
    background-color: black;
}

img {
    max-width: 100%;
    height: auto;

}

#next {
    transition: opacity 5s ease; /* fade over 1 second */
}

button {
    width: 80%;
    max-width: 400px;  
    margin: 10px 0;
    padding: 10px;  
    font-size: 1em;
    font-weight: bolder;
    color: white;
    background-color: black;
    border-color: white;
}

button:hover {
    cursor: pointer;
    background-color: red;
}

p {
    font-size: larger;
}

